<form action="/create" method="POST">
  <h2>Добавить список дел</h2>

  <div class="input-field">
    <input class="text" type="text" name="title" value="">
    <label class="test">Что хотите сделать?</label>
  </div>

  <button type="submit" class="btn">Добавить</button>
</form>